:root {
    --cor-de-fundo: #0B0A14;
    --branco-principal: #FFFFFF;
    --botao-azul: #167BF7;
    --cinza-sencundario: #C0C0C0;
    --fonte-principal: "inter";
}

* {
    margin: 0;
    padding: 0;

}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
}

.principal {
    background-image: url('/img/background.png');
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
}

.container__caixa {
    margin: 0 10rem;
}

.container__titulo {
    font-size: 1.75rem;
}

.container__imagem {
    margin: 1 rem 0 2rem 0;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 0.5rem;
    padding: 1rem;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1rem;
}

.container__botao--secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.secundario {
    align-items: center;
    margin: 0 10rem;
}

.secundario__imagem {
    width: 70%;
}

.container__descricao {
    padding: 2rem;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 3rem;
    color: var(--branco-principal);
    margin-bottom: 0.1rem;
}

.descricao__texto {
    color: var(--cinza-secundario);
}

.secundario__botao {
    margin-top: 0.3rem;
    display: inline-block;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 3rem;
}

.dispositivos__lista {
    display: flex;
    list-style: none;
    justify-content: center;
}

.lista__item {
    font-size: 2rem;
    color: var(--branco-principal);
}

.rodape {
    text-align: center;
    margin: 5rem 3rem;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 1rem;
    margin: 1rem 0;
}

.lista__link a {
    text-decoration: none;
    color: var(--branco-principal);
}

.rodape__texto {
    margin: 1rem 0;
    color: var(--cinza-secundario);
    font-size: 0.8rem;
}

.lista__link a:hover {
    color: var(--botao-azul);
    text-decoration: underline #f5f5f5;
}

.lista__link a:active {
    color: var(--cinza-sencundario);
}

.container__botao:hover {
    background-color: #003f69;
    color: var(--cor-de-fundo);
}

.container__botao--secundario:hover {
    color: var(--cinza-sencundario);
}

@media screen and (max-width: 1024px) {
    .container {
        display: block;
        background-image: none;
    }

    .container__imagem {
        width: 50vw;
    }

    .container__caixa {
        margin: 2rem 2rem;
    }

    .secundario {
        text-align: center;
        margin: 0;
    }

    .secundario__imagem {
        width: 50vw;
    }

    .dispositivos__lista {
        display: block;
    }

    .rodape__lista {
        display: block;
    }
}